<h1>Welcome</h1>
<div class="user-info pull-right">
  <%= link_to "Sign out", logout_path, method: :delete %>
</div>

<div id="new-link">
  <%= form_for @link, url: "#" do |f| %>
    <%=  f.label :url %>
    <%=  f.text_field :url %>
    <%=  f.label :title %>
    <%=  f.text_field :title %>
    <%= f.submit "Save" %>
  <% end %>
</div>

<table class="table" id="all-links">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Read</th>
    </tr>
  </thead>
  <tbody class="links">
    <% @links.each do |link| %>
      <tr id="link-<%= link.id %>">
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td data-link-id="<%= link.id %>" class="read-status"><%= link.read %></td>
        <% if link.read == false %>
          <td data-link-id="<%= link.id %>"><button class="mark-as-read">Mark As Read</button></td>
        <% else %>
          <td data-link-id="<%= link.id %>"><button class="mark-as-unread">Mark As Unread</button></td>
        <% end %>
        <td><%= link_to "Edit", edit_link_path(link.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
